body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	margin: 0 auto;
	width: 100%;
}

.mediaquery {
	padding: 10px;
}

input[name="query"] {
	box-sizing: border-box;
	width: 100%;
	border-radius: 17px;
	padding: 10px;
	border: 1px solid #ccc;
}

.medialist {
	padding: 0px 10px;
	text-align: center;
}

.mediatile {
	display: inline-block;
	width: 200px;
	height: 255px;
	border: solid #ccc 1px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: top;
	position: relative;
}

.mediatile img {
	width: 200px;
}

.mediatile p {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fff;
}

.mediatile.link-more {
	border: none;
}
.mediatile.link-more > p {
	top: 100px;
}

.exportPanel {
	margin-bottom: 10px;
	padding-left: 10px;
	text-align: center;
}

a.btn {
  text-decoration: none;
  background-color: #f8f8f8;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid silver;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid silver;
  border-radius: 6px;
  font-size: 0.76em;
  padding: 6px 12px;
}

@media (min-width: 480px) {
	.medialist {
		padding: 0px 10px;
		text-align: left;
	}
	.mediatile {
		margin-left: 3%;
	}
}

@media (min-width: 600px) {
	.mediatile {
		margin-left: 9%;
	}
	.exportPanel {
		text-align: left;
	}
}

@media (min-width: 640px) {
	.mediatile {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	.mediatile {
		margin-left: 4%;
	}
}

@media (min-width: 800px) {
	.mediatile {
		margin-left: 5%;
	}
}

@media (min-width: 900px) {
	.mediatile {
		margin-left: 1%;
	}
}

@media (min-width: 980px) {
	.mediatile {
		margin-left: 3%;
	}
}

@media (min-width: 1024px) {
	.mediatile {
		margin-left: 3%;
	}
}

@media (min-width: 1280px) {
	.mediatile {
		margin-left: 3%;
	}
}